@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');



html,






body {
  padding: 0;
  margin: 0;
  
  background-image: linear-gradient(to bottom right, rgb(24, 65, 168), rgb(94, 28, 12));
  text-align: center;
  background-repeat: no-repeat;
  font-family: 'Lalezar', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
