@keyframes example {
  0%   {background-image: linear-gradient(to bottom right, rgb(1, 68, 250), rgb(201, 74, 43));}
  25%  {background-image: linear-gradient(to bottom right, rgb(38, 38, 87), rgb(245, 112, 112));}
  50%  {background-image: linear-gradient(to bottom right, rgb(92, 18, 18), rgb(46, 45, 95));}
  100% {background-image: linear-gradient(to bottom right, rgb(59, 13, 53), rgb(33, 34, 61));}
}

/* Home */

.main{
padding-top: 1px;
}
.hom1{
  height: 250px;
  box-shadow: rgb(36, 37, 37) 2px 6px 7px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  margin: 2px;
  background-image: url('/images/passdolfin.jpg');
}
.hom11{
  width: 100%;
  height: 100%;
  
  background-color: rgb(0, 0, 0);
  opacity: .7;
  color: rgb(255, 255, 255);
  text-align: center;
}



.hom2{
  height: 250px;
  margin: 2px;
  background-color: rgb(68, 82, 82);
  box-shadow: rgb(36, 37, 37) 2px 6px 7px;
}
.navb{
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: 3;
  width: 100%;
  box-shadow: rgb(17, 17, 17) 1px 1px 6px;
  margin-bottom: 10px;
  background-image: linear-gradient(to bottom right, rgb(10, 73, 245), rgb(95, 55, 45));
}



.link{
  background-image: linear-gradient(to bottom right, rgb(10, 73, 245), rgb(252, 61, 14));
  text-decoration:none;
  padding: 2px;
  margin-top: 14px;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  
}
.link:hover{
  box-shadow: rgb(143, 139, 127) 1px 1px 4px 1px;
  background-image: linear-gradient(to bottom right, rgb(214, 215, 216), rgb(252, 61, 14));
}


.footerr{
  margin-top: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(21, 21, 26);
}

.textdolfin{
  background-image: linear-gradient(to bottom right, rgb(8, 33, 104), rgb(121, 30, 7));

}

/* Video */

.contmain{
  margin-top: 10px;
}
.titlevid{
  background-color: rgb(255, 255, 255);
  margin-bottom: 150px;
}
.videoo{
  width: 100%;
  height: 200px;
  padding: 2px;
  margin-bottom: 40px;
}


.vidcoo1{
  height: 150px;
  width: 20px;
  margin-right: 2px;
  margin-top: 31px;
  transform: skewY(200deg);
  background-color: black;
}
.vidcoo2{
  height: 150px;
  width: 20px;
  margin-right: 2px;
  margin-top: 31px;
  transform: skewY(160deg);
  background-color: black;
}




/* Bazikonan */




.bazikon{
  background-color: aqua;
}
.bazikon1{
  height: 100px;
  
background-color: aliceblue;  
}