@keyframes example {
  0%   {background-image: linear-gradient(to bottom right, rgb(1, 68, 250), rgb(201, 74, 43));}
  25%  {background-image: linear-gradient(to bottom right, rgb(38, 38, 87), rgb(245, 112, 112));}
  50%  {background-image: linear-gradient(to bottom right, rgb(92, 18, 18), rgb(46, 45, 95));}
  100% {background-image: linear-gradient(to bottom right, rgb(59, 13, 53), rgb(33, 34, 61));}
}
@keyframes txtdolfin{
  0% {text-shadow: rgb(139, 139, 139) 1px 1px 5px;}
  10% {text-shadow: rgb(221, 221, 177) 1px 1px 5px;}
  30% {text-shadow: rgb(200, 247, 162) 1px 1px 5px;}
  50% {text-shadow: rgb(158, 125, 250) 1px 1px 5px;}
  70% {text-shadow: rgb(253, 159, 159) 1px 1px 5px;}
  90% {text-shadow: rgb(175, 252, 245) 1px 1px 5px;}
  100% {text-shadow: rgb(139, 247, 184) 1px 1px 5px;}
}

/* Home */

.main{
padding-top: 1px;


}
.hom1{
  height: 250px;
  box-shadow: rgb(36, 37, 37) 2px 6px 7px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  margin: 2px;
  background-image: url('/images/passdolfin.jpg');
}
.hom11{
  width: 100%;
  height: 100%;
  
  background-color: rgb(0, 0, 0);
  opacity: .7;
  color: rgb(255, 255, 255);
  text-align: center;
}



.hom2{
  margin: 2px;
  background-image: linear-gradient(to bottom right, rgb(10, 73, 245), rgb(95, 55, 45));
  box-shadow: rgb(36, 37, 37) 2px 6px 7px;
}
.navb{
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: 3;
  width: 100%;
  box-shadow: rgb(17, 17, 17) 1px 1px 6px;
  margin-bottom: 10px;
  background-image: linear-gradient(to bottom right, rgb(10, 73, 245), rgb(95, 55, 45));
}

.txtdolfin{
  margin: 10px;
  animation-name: txtdolfin;
  animation-duration: 5s;
  animation-iteration-count: 2;
  text-align: center;
  color: rgb(51, 48, 48);
  text-shadow: rgb(255, 255, 253) 1px 1px 6px;
}


.link{
  background-image: linear-gradient(to bottom right, rgb(126, 4, 34), rgb(3, 49, 109));
  text-decoration:none;
  padding: 2px;
  margin-top: 14px;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  
}
.link:hover{
  box-shadow: rgb(143, 139, 127) 1px 1px 4px 1px;
  background-image: linear-gradient(to bottom right, rgb(132, 118, 255), rgb(228, 130, 130));
}




.abdollah{
  padding-top: 30px;
  color: white;
  margin-bottom: 7px;
}

.abdol{
  border-radius: 4px;
  background-image: linear-gradient(to bottom right, rgb(84, 113, 201), rgb(207, 72, 38));
  padding: 2px;
  margin: 5px;
}
.abdol:hover{
  box-shadow: cornsilk 1px 1px 7px;
  color: rgb(20, 20, 20);

}

.imabdol{
  margin-right: 2px;
  border-radius: 50%;
  box-shadow: rgb(19, 18, 18) 1px 1px 7px;

}
.child{
  margin-bottom: 100%;
}

.footerr{
  padding-top: 20px;
  width: 100%;
  margin-top: 430px;
  color: rgb(111, 199, 240);
  background-image: linear-gradient(to bottom right, rgb(6, 15, 41), rgb(56, 28, 21));
}
.textdolfin{
  padding: 5px;
  background-image: linear-gradient(to bottom right, rgb(8, 33, 104), rgb(121, 30, 7));

}

/* Bazikonan */

.contmain{
  margin-top: 10px;
}
.titlevid{
  border-radius: 5px;
  box-shadow: white 1px 1px 7px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 150px;
}
.videoo{
  width: 100%;
  height: 200px;
  padding: 2px;
  margin-bottom: 40px;
}
 .img1{
   width: 100%;
   height: 100%;
 }

.vidcoo1{
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: 3;
  height: 150px;
  width: 20px;
  margin-right: 2px;
  margin-top: 31px;
  transform: skewY(200deg);
  border-radius: 2px;
  background-image: linear-gradient(to bottom right, rgb(1, 11, 39), rgb(121, 30, 7));
}
.vidcoo2{
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: 3;
  height: 150px;
  width: 20px;
  margin-right: 2px;
  margin-top: 31px;
  transform: skewY(160deg);
  border-radius: 2px;
  background-image: linear-gradient(to bottom right, rgb(8, 33, 104), rgb(121, 30, 7));
}




/* video */





.bazikon1{
text-align: center;
padding: 4px;
border-radius: 4px;
animation-name: example;
animation-duration: 7s;
animation-iteration-count: 3;
box-shadow: cornsilk 1px 1px 8px 1px;
margin-bottom: 10px;
}



.vid{
width: 100%;
}